div.mytool-singleUploader {
}

div.mytool-singleUploader input[type="text"] {
  width: 240px;
  font: inherit;
  font-style: italic;
  line-height: normal;
  line-height: normal;
  padding: 2px 4px;
  text-align: start;
  color: #000000;
  border: 1px solid #b5bcc7;
}
div.mytool-singleUploader input[type="text"].required {
  border-color: #d46464;
}
div.mytool-singleUploader input[type="text"].required::placeholder {
  color: #d46464;
}
div.mytool-singleUploader input[type="text"]:hover {
  border-color: #759dc0;
}
div.mytool-singleUploader input[type="file"] {
  display: none;
}
